.App {
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.winrate {
  font-size: 20pt;
  font-weight: bold;
}

.light {
  font-size: 10pt;
  color: grey;
}

.kart-icon {
  height: 24px;
}